<style>

body {
  margin: 25px 100px 50px 100px;
  background: blue;
  font-family: 'Times New Roman', sans-serif;
  font-weight: 400;
}

.navbar {
  width: 80%;
  margin: 0 auto;
}

nav {
  float: right;
}

nav ul {
  margin: 100px;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 100px;
  padding-top: 30px;
  
  position: relative;
}

nav a {
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #000;
}

nav a:: before {
  content: '';
  display: block;
  height: 10px;
  background-color #444;
  
  position: absolute;
  top: 0;
  width: 0%;
}

nav a: hover::before {
  width: 100%
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.what {
  margin: 70px;
  border: 1px solid #4CAF50;
}
    
    









h1{
  font: italic 1.2em "Fira Sans", serif;
  color:blue;
  font-size:56px;
}
h2{
  color:red;
  font-size:56px;
}
h3{
  color:green;
  font-size:56px;
}
h4{
  color:purple;
  font-size:56px;
}
p{
  font-size:28px;
  font-weight:bold;
}

</style>
